<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">

      <div class="posts">
        <% @posts.each do |post| %>
        <div class="post clearfix">
          <div class="post-details">
            <span class="post-title"><%= link_to post.title, post %></span> <br>
            <span class="post-time">Publicado por <%= post.user.email %> hace <%= time_ago_in_words(post.created_at) %> </span>
            <span class="post-body"><%= truncate(post.body, :length => 250) %></span>
          </div>
          <div class="post-comments">
            <span class="material-icons">mode_comment</span>
            <span class="comment-count"><%= post.comments.count %></span>
          </div>
          <% if signed_in? && post.user == current_user %>
          <div class="actions">
            <%= link_to "<span class='material-icons'>edit</span>".html_safe, edit_post_path(post) %>
            <%= link_to "<span class='material-icons'>delete</span>".html_safe, @post, method: :delete, data: { confirm: "¿Estás seguro de eliminar este Post?" } %>
          </div>
            
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


