<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">

			<p id="notice"><%= notice %></p>

			<h1><%= @post.title %></h1>

			<p><%= @post.body %></p>

			<%= link_to 'Editar', edit_post_path(@post), class: "badge badge-info" %> |
			<%= link_to 'Volver', posts_path, class: "badge badge-info" %>

    </div>
  </div>
</div>
